<% provide(:title, 'Reset password') %>
<div class="w-1/2">

  <%= form_with model: @user, url: password_reset_path(params[:id]), class: "flex flex-col
  space-y-2" do |f| %>
    <%= render 'shared/error_messages', object: @user %>

    <div><%= hidden_field_tag :email, @user.email %></div>

    <div class="flex flex-col w-full">
      <%= f.label :password, class: "font-bold" %>
      <%= f.password_field :password, class: "w-full" %>
    </div>

    <div class="flex flex-col w-full">
      <%= f.label :password_confirmation, "Confirmation", class: "font-bold" %>
      <%= f.password_field :password_confirmation, class: "w-full" %>
    </div>

    <div class="flex flex-col w-full">
      <%= f.submit "Submit", class: "text-white rounded p-1 bg-sky-300 hover:bg-sky-500" %>
    </div>
  <% end %>

</div>
