<%= form_with model: @user, url: yield(:action_type), class: "flex flex-col space-y-4 w-full px-12" do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="flex flex-col w-full">
    <%= f.label :name, class: "font-bold w-full"%> <%= f.text_field :name, class: "w-full"%>
  </div>

  <div class="flex flex-col w-full">
    <%= f.label :email, class: "font-bold w-full" %> <%= f.email_field :email, class: "w-full"%>
  </div>

  <div class="flex flex-col w-full">
    <%= f.label :password, class: "font-bold" %> <%= f.password_field :password, class: "w-full"%>
  </div>

  <div class="flex flex-col w-full">
    <%= f.label :password_confirmation, "Confirmation", class: "font-bold w-full" %>
    <div></div>
    <%= f.password_field :password_confirmation, class: "w-full"%>
  </div>

  <div class="flex flex-col w-full">
    <%= f.submit yield(:button_text), class: "text-white rounded p-1 bg-sky-300 hover:bg-sky-500" %>
  </div>
<% end %>
