<% provide(:title, @user.name) %>
<div class="flex flex-row space-x-10">
  <div class="flex flex-row items-top">
    <div><%= gravatar_for @user %></div>
    <div class="pl-4 font-medium"><%= @user.name %></div>
  </div>
  <div class="col-span-2 flex flex-col space-y-4">
    <% if @user.microposts.any? %>
      <h3 class="font-medium underline">Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="divide-y divide-gray-200">
        <%= render @microposts %>
      </ol>
      <div class="mt-10 space-y-1">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
      </div>
    <% else %>
      <p class="font-medium text-gray-400 underline flex justify-center">No microposts yet.</p>
    <% end %>
  </div>
</div>
