<%= provide(:title, @title) %>
<div class="flex flex-row space-x-20">
  <div class="flex flex-col">
    <div>
      <%= render "shared/user_info" %>
    </div>
    <div class="pt-3">
      <%= render "shared/stats" %>
    </div>
    <div class="pt-3">
      <% if @users.any? %>
        <div class="grid grid-cols-5 gap-2">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h3 class="font-semibold text-xl"><%= @title %> </h3>
    <% if @users_pagy.any? %>
      <ul>
        <%= render @users_pagy %>
      </ul>
      <div class="mt-10 space-y-1">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
