<% provide(:title, @user.name) %>
<div class="flex flex-col space-y-10 h-full w-full self-start p-20 divide-y">

  <div class="flex flex-row space-x-10 justify-center">
    <div><%= gravatar_for @user %></div>
    <div class="flex flex-col justify-start">
      <div class="font-medium">
        <%= @user.name %>
        <%# TODO: add update profile button %>
      </div>
      <%= render "follow_form", locals: { user: @user } if logged_in? %>
    </div>
  </div>

  <%# TODO: create navigation (with photo, only text, all) %>

  <div class="col-span-2 flex flex-col space-y-4">
    <% if @user.microposts.any? %>
      <h3 class="font-medium underline">Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="divide-y divide-gray-200">
        <%= render @microposts %>
      </ol>
      <div class="mt-10 space-y-1">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %> <%== pagy_info(@pagy) %>
      </div>
    <% else %>
      <p class="font-medium text-gray-400 underline flex justify-center">No microposts yet.</p>
    <% end %>
  </div>

</div>
