<div class="flex flex-row items-center space-x-7">
  <div><%= link_to gravatar_for(@user, size: 100), @user%></div>
  <div class="flex flex-col justify-start space-y-3">
    <h3 class="font-semibold text-2xl"><%= @user.name %></h3>
    <div class="flex flex-row text-gray-500 text-xs font-bold space-x-4">
      <div><%= pluralize(@user.microposts.count, "micropost") %></div>
      <div>
        <%= @user.following.count %>
        <%= link_to "following", following_user_path(@user), data: { turbo: false } %>
      </div>
      <div>
        <%= followers ||= @user.followers.count %>
        <%= link_to "followers", followers_user_path(@user), data: { turbo: false } %>
      </div>
    </div>
  </div>
</div>
