<%= render "shared/modal", id: "modal-micropost-detail-#{micropost.id}" do %>
  <div class="flex flex-row w-full h-full">
    <span>
      <%= image_tag micropost.picture.url if !micropost.picture.url.nil? %>
    </span>
    <div class="flex flex-col h-full w-full divide-y">
      <div class="flex flex-row justify-between items-center py-6">
        <div class="flex flex-row justify-between items-center space-x-3">
          <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
          <span class="font-bold text-xs text-blue-700">
            <%= link_to micropost.user.name, micropost.user %>
          </span>
        </div>
        <% if current_user?(micropost.user) %>
          <div>
            <%= link_to micropost, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-3.5 text-red-500 hover:text-red-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
      <span class="flex flex-col py-6 grow space-y-2">
        <div class="text-lg font-medium">
          <%= micropost.title %>
        </div>
        <div>
          <%= micropost.content %>
        </div>
        <div class="flex justify-end pr-4 font-light text-xs">
          <%= time_ago_in_words(micropost.created_at) %> ago
        </div>
      </span>
      <div class="flex flex-col p-1 space-y-2">
        <div class="flex flex-row">
          <%= render "microposts/like", micropost: micropost %>
        </div>
        <div>
          decide what to put here
        </div>
      </div>
      <div class="border-t">
        todo: comment
      </div>
    </div>
  </div>
<% end %>
