<li id="micropost-<%= micropost.id %>">
  <div class="flex flex-row items-center py-2">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <div class="flex flex-col pl-5 w-full">
      <span class="font-bold text-xs text-blue-700">
        <%= link_to micropost.user.name, micropost.user %>
      </span>
      <span>
        <%= micropost.content %>
      </span>
      <span class="font-light	text-xs">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago
      </span>
    </div>
  </div>
</li>
