<div data-controller="modal">
  <div class="flex flex-row rounded-lg shadow-sm z-0 min-h-96 min-w-80">
    <div class="flex flex-col w-full">
      <div data-action="click->modal#open" class="relative bg-blue-100 m-1 p-2 grow rounded-t-lg">
        <%= image_tag micropost.picture.url, class: "absolute inset-0 w-full h-full object-cover rounded-t-lg opacity-50" if !micropost.picture.url.nil? %>
        <div class="relative z-10 pl-2 space-y-3">
          <%= render "shared/tag", tag: "tag" %>
          <div class="text-lg font-normal">
            <%= micropost.title %>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="flex items-end justify-between font-light text-xs ">
          <%= render "microposts/like", micropost: micropost %>
          <%= time_ago_in_words(micropost.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
  <%= render "microposts/detail", micropost: micropost %>
</div>
