<div id="micropost-<%= micropost.id %>" data-controller="modal">
  <div data-action="click->modal#open" class="relative group flex flex-row items-top rounded-lg shadow-md">
    <div class="min-h-48 flex flex-col w-full">
      <div class="h-10 bg-blue-100 m-1 p-2 grow space-y-3 rounded-t-lg">
        <div class="inline-block px-2 py-1 text-xs font-semibold text-white bg-blue-400 rounded-full">
          category
        </div>
        <div class="text-lg font-normal pl-1">
          <%= micropost.title %>
        </div>
      </div>
      <div class="p-2">
        <div class="flex justify-end font-light text-xs">
          <%= time_ago_in_words(micropost.created_at) %> ago
        </div>
      </div>
    </div>
    <div class="absolute inset-0 bg-opacity-50 flex justify-center items-center opacity-0 group-hover:opacity-100 bg-gray-100 transition">
      <span> 
        <%# TODO: 하트가 아니라, 댓글 수 로 바꿀 것 %>
        <%= render "microposts/like", micropost: micropost %> 
      </span>
    </div>
  </div>
  <%= render "microposts/detail", micropost: micropost %>
</div>
