<div data-controller="modal">
  <div data-action="click->modal#open" class="relative group flex flex-row items-top rounded-lg shadow-md">
    <div class="min-h-48 flex flex-col w-full">
      <div class="bg-blue-100 m-1 p-2 grow space-y-3 rounded-t-lg">
        <%= render "shared/tag", tag: "tag" %>
        <div class="text-lg font-normal">
          <%= micropost.title %>
        </div>
      </div>
      <div class="p-2">
        <div class="flex items-end justify-between font-light text-xs ">
          <%= render "microposts/like", micropost: micropost %>
          <%= time_ago_in_words(micropost.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
  <%= render "microposts/detail", micropost: micropost %>
</div>
