<header>
  <div class="flex flex-row justify-between bg-red-400 items-center">
    <div class="text-4xl font-bold m-2"><%= link_to "sample app", root_path, id: "logo" %></div>
    <nav>
      <ul class="flex flex-row space-x-6 m-4">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
        <li><%= link_to "Users", user_path(current_user) %></li>
        <%= render 'layouts/dropdown' %> <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
