<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="h-full flex flex-col">
    <div class="fixed left-0 top-0 h-full w-64">
      <%= render 'layouts/sidebar' %>
    </div>

    <main class="flex flex-grow flex-col items-center justify-center ml-64">
      <div class="w-full mx-6">
        <%= render 'layouts/flash' %>
      </div>
      <%= yield %>
    </main>

    <footer class="ml-64">
      <%= render 'layouts/footer' %>
      <div class="bg-slate-200 m-5 p-5 rounded">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </footer>
  </body>
</html>
