<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="min-h-screen flex flex-col">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <%= render 'layouts/flash' %>

    <main class="flex flex-grow justify-center m-6">
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
      <div class="bg-slate-200 m-5 p-5 rounded">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </footer>
  </body>

</html>
