<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %> <%= render 'layouts/shim' %><%= render 'layouts/header' %>
    <!-- TODO: title 태크 어따 쓰는지 잘 모르겠으니 찾아볼것.-->
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <%= render 'layouts/flash' %>
    <div class="flex justify-center m-6"><%= yield %></div>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
    <hr />
    <%= debug(params) if Rails.env.development? %>
  </footer>
</html>
