<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
  <title class="bg-sky-300 underline"><%= full_title(yield(:title)) %></title>
</head>

<head>
  <%= render 'layouts/header' %>
</head>

<body>

  <% flash.each do |message_type, message| %>
  <% if message.present? && message_type == "success" %>
  <div class="flex justify-center m-6 bg-green-300 p-4 rounded text-white">
    <%= message %>
  </div>
  <% end %>
  <% if message.present? && message_type == "danger" %>
  <div class="flex justify-center m-6 bg-red-300 p-4 rounded text-white">
    <%= message %>
  </div>
  <% end %>
  <% end %>

  <div class="flex justify-center m-6">
    <%= yield %>
  </div>
</body>

<footer>
  <%= render 'layouts/footer' %>
  <hr />
  <%= debug(params) if Rails.env.development? %>
</footer>

</html>
