<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %> <%= render 'layouts/shim' %><%= render 'layouts/header' %>
    <div class="hidden"><%= full_title(yield(:title)) %></div>
  </head>
  <body>
    <%= render 'layouts/flash' %>
    <div class="flex justify-center m-6"><%= yield %></div>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
    <hr />
    <%= debug(params) if Rails.env.development? %>
  </footer>
</html>
